.root {
  color: var(--color);
  background-color: var(--background-color);

  padding-bottom: 12px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 24px;
}

.content {
  display: inline-flex;
  gap: 32px;
}

.heading {
  margin: unset;
  font-size: 24px;
  line-height: 32px;
}
