.root {
  position: relative;
  z-index: 1;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2px;
  border: 2px solid var(--color);
  border-radius: 24px
}

.button {
  margin: 0;
  padding: 0;
  padding-inline: 16px;
  border: 0;
  border-radius: 24px;
  background-color: transparent;
  color: var(--color);
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  transition: color .05s linear .1s
}

@media (hover: hover) and (pointer:fine) {
  .button[aria-pressed=false]:hover {
    animation:menu-button .2s both
  }
}

.button:focus-visible {
  outline-offset: -2px
}

.button[aria-pressed=true] {
  outline-offset: 2px;
  color: var(--background-color)
}

.status {
  position: absolute;
  inset: 2px;
  z-index: -1;
  margin-inline:auto;width: calc(33% - .5px);
  border-radius: 24px;
  background-color: var(--color);
  pointer-events: none;
  transform: translateX(0);
  transition: transform .2s
}

.button[aria-pressed=true][value=light]~.status {
  transform: translateX(-100%)
}

.button[aria-pressed=true][value=dark]~.status {
  transform: translateX(100%)
}