.root {
  min-height: calc(100vh - (32px + 12px * 2) * 2); /* TODO: Убрать костыль */
  padding-bottom: 24px;
  padding-top: 24px;
}

.heading {
  margin: unset;
  font-size: 48px;
  line-height: 64px;
}